/* Основной фон панели */
#mainPane {
    -fx-background-color: #FFEBEE; /* Светло-красный */
    -fx-padding: 15px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 10, 0, 0, 5);
}

/* Подключение шрифта */
@font-face {
    src: url('/fonts/Jomhuria-Regular.ttf');
    font-family: 'Jomhuria-Regular';
}

/* Стили верхней панели */
#topPane {
    -fx-background-color: #FFCDD2; /* Очень светлый красный */
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-border-color: #F44336; /* Красный */
    -fx-border-width: 3px;
    -fx-padding: 10px;
}

/* Стили кнопок управления */
#openButton, #createButton, #editButton{
    -fx-background-color: #EF5350; /* Светло-красный */
    -fx-text-fill: white;
    -fx-font-family: 'Jomhuria-Regular';
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #F44336;
    -fx-border-width: 2px;
    -fx-padding: 5px 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 2);
}

#saveButton, #cancelButton {
    -fx-background-color: #EF5350;
    -fx-text-fill: white;
    -fx-font-family: 'Jomhuria-Regular';
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-width: 2px;
    -fx-padding: 5px 10px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 0, 2);
}

#saveButton{
    -fx-border-color: #388E3C;
}

#cancelButton{
    -fx-border-color: #D32F2F;
}

#openButton:hover, #createButton:hover, #editButton:hover{
    -fx-background-color: #FF8A80; /* Ещё светлее */
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
    -fx-cursor: hand;
}

#saveButton {
    -fx-background-color: #4CAF50; /* Зелёный */
}

#cancelButton {
    -fx-background-color: #F44336; /* Красный */
}

/* Стили кнопок добавления и удаления */
#addButton, #addUrlButton {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-family: 'Jomhuria-Regular';
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #388E3C;
    -fx-border-width: 2px;
    -fx-padding: 5px 10px;
}

#deleteButton, #deleteUrlButton {
    -fx-background-color: #F44336;
    -fx-text-fill: white;
    -fx-font-family: 'Jomhuria-Regular';
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #D32F2F;
    -fx-border-width: 2px;
    -fx-padding: 5px 10px;
}

#addButton:hover, #addUrlButton:hover, #deleteButton:hover, #deleteUrlButton:hover,#cancelButton:hover, #saveButton:hover {
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
    -fx-cursor: hand;
}

/* Стили текстовых полей */
#inputTextField, #inputUrlTextField, #customModeNameTextField {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #F44336;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-font-family: 'Jomhuria-Regular';
    -fx-font-size: 14px;
    -fx-padding: 5px;
    -fx-focus-color: #EF5350; /* Светло-красный */
    -fx-faint-focus-color: transparent;
}

#customModeNameTextField:focused, #inputTextField:focused, #inputUrlTextField:focused {
    -fx-border-color: #EF5350;
}

/* Стили выпадающих списков */
#customModeListComboBox, #modeListComboBox, #processListComboBox, #urlListComboBox {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #F44336;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-font-family: 'Jomhuria-Regular';
    -fx-font-size: 14px;
    -fx-focus-color: #EF5350;
    -fx-faint-focus-color: transparent;
}

/* Стили меток */
#selectCustomModeLabel, #selectModeLabel, #blockDomainLabel {
    -fx-font-family: 'Jomhuria-Regular';
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-fill: #F44336;
}

/* Стиль консоли */
#consoleTextArea {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #F44336;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-font-family: 'Jomhuria-Regular';
    -fx-font-size: 14px;
    -fx-text-fill: #333333;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* Стили панелей */
#middlePane, #processPane, #urlPane {
    -fx-background-color: #FFCDD2;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-border-color: #F44336;
    -fx-border-width: 3px;
    -fx-padding: 10px;
}

#selectExeButton{
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-family: 'Jomhuria-Regular';
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-background-radius: 8px;
    -fx-border-radius: 8px;
    -fx-border-color: #388E3C;
    -fx-border-width: 2px;
    -fx-padding: 5px 10px;
}

#selectExeButton:hover{
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
    -fx-cursor: hand;
}