#emailTextField {
    -fx-text-fill: #6A5CDA;
    -fx-background-radius: 10px;
    -fx-font-family: 'Jomhuria-Regular';
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-focus-color:transparent;
    -fx-faint-focus-color:transparent;
}

#passwordTextField {
    -fx-text-fill: #6A5CDA;
    -fx-background-radius: 10px;
    -fx-font-family: 'Jomhuria-Regular';
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-focus-color:transparent;
    -fx-faint-focus-color:transparent;
}

@font-face {
    src: url('/fonts/Jomhuria-Regular.ttf');
    font-family: 'Jomhuria-Regular';
}

#authButton {
    -fx-text-fill: #6A5CDA;
    -fx-background-radius: 10px;
    -fx-font-family: 'Jomhuria-Regular';
    -fx-font-weight: bold;
    -fx-font-size: 17px;
    -fx-focus-color:transparent;
    -fx-faint-focus-color:transparent;
}

#regButton {
    -fx-text-fill: #6A5CDA;
    -fx-background-radius: 10px;
    -fx-font-family: 'Jomhuria-Regular';
    -fx-font-weight: bold;
    -fx-font-size: 17px;
    -fx-focus-color:transparent;
    -fx-faint-focus-color:transparent;
}