#navbarPane {
    -fx-background-color: #6A5CDA;
}

#navbarPane .button {
    -fx-text-fill: #6A5CDA;
    -fx-background-radius: 10px;
    -fx-font-family: 'Jomhuria-Regular';
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

@font-face {
    src: url('/fonts/Jomhuria-Regular.ttf');
    font-family: 'Jomhuria-Regular';
}

#clockLabel {
    -fx-background-color: white;
    -fx-border-radius: 15px;
    -fx-font-family: 'Jomhuria-Regular';
    -fx-font-weight: bold;
    -fx-font-size: 58px;
    -fx-text-fill: #6A5CDA;
    -fx-border-color: #6A5CDA;
    -fx-border-width: 5px;
    -fx-alignment: center;
    -fx-background-radius:15px;
}

#startPane {
    -fx-border-color:#6A5CDA;
    -fx-border-radius:15px;
    -fx-border-width:5px;
}

#startPane .button {
    -fx-background-color: transparent; /* Прозрачный фон */
    -fx-border-color: transparent; /* Прозрачная граница */
    -fx-padding: 0; /* Убрать отступы */
    -fx-background-insets: 0; /* Убрать внутренние отступы */
    -fx-background-radius: 0; /* Убрать скругление углов */
    -fx-border-width: 0; /* Убрать границу */
    -fx-effect: null; /* Убрать тени и эффекты */
}

#consolePane {
    -fx-border-color:#6A5CDA;
    -fx-border-radius:15px;
    -fx-border-width:5px;
}

#consoleTextArea {
    -fx-focus-color: transparent; /* Убирает цвет фокуса */
    -fx-faint-focus-color: transparent;
}



