/* Основные стили для BorderPane */
#borderPane {
    -fx-background-color: white;
    -fx-padding: 10 15 10 15; /* Верх 10, право 15, низ 10, лево 15 */
}

/* Стили для верхней части */
#hboxTop {
    -fx-padding: 0 0 10 0; /* Только снизу 10px */
}

/* Стили для центральной части */
#vboxCenter {
    -fx-spacing: 15; /* Увеличил расстояние между элементами */
    -fx-padding: 0 0 10 0; /* Только снизу 10px */
}

/* Стили для основного текста */
#messageLabel {
    -fx-font-family: 'Jomhuria-Regular';
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-wrap-text: true;
    -fx-padding: 0 15 0 15; /* Отступы слева и справа */
    -fx-text-alignment: center;
}

/* Стили для цитаты */
#quoteLabel {
    -fx-font-family: 'Jomhuria-Regular';
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
    -fx-padding: 0 15 0 15; /* Отступы слева и справа */
    -fx-text-fill:green;
}

/* Общие стили для кнопок */
#agreeButton, #refuseButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 5 15 5 15; /* Увеличил отступы внутри кнопок */
    -fx-background-insets: 0;
    -fx-background-radius: 5px;
    -fx-border-width: 3px;
    -fx-border-radius: 5px;
    -fx-effect: null;
    -fx-font-family: 'Jomhuria-Regular';
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-cursor: hand;
}

/* Стиль для кнопки согласия */
#agreeButton {
    -fx-text-fill: green;
    -fx-border-color: green;
}

/* Стиль для кнопки отказа */
#refuseButton {
    -fx-text-fill: red;
    -fx-border-color: red;
}

/* Загрузка шрифта */
@font-face {
    src: url('/fonts/Jomhuria-Regular.ttf');
    font-family: 'Jomhuria-Regular';
}