#mainPane {
    -fx-background-color: white;
    -fx-padding:10px;
}

@font-face {
    src: url('/fonts/Jomhuria-Regular.ttf');
    font-family: 'Jomhuria-Regular';
}

#deleteButton, #deleteUrlButton {
    -fx-background-color: red;
    -fx-border-color: black;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-effect: null;
    -fx-border-width:1px;
    -fx-border-radius:5px;
    -fx-background-radius:5px;
    -fx-font-family: 'Jomhuria-Regular';
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

#addButton, #addUrlButton {
    -fx-background-color:green;
    -fx-border-color:black;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-effect: null;
    -fx-border-width:1px;
    -fx-border-radius:5px;
    -fx-background-radius:5px;
    -fx-font-family: 'Jomhuria-Regular';
    -fx-font-weight: bold;
    -fx-font-size: 15px;
}

#consoleTextArea{
    -fx-pref-width:100%;
    -fx-pref-height:100%;
    -fx-focus-color: transparent; /* Убирает цвет фокуса */
    -fx-faint-focus-color: transparent; /* Убирает вторичный цвет фокуса */
}

#inputTextField {
    -fx-pref-width: 100%;
    -fx-max-width: infinity;
    -fx-focus-color: transparent; /* Убирает цвет фокуса */
    -fx-faint-focus-color: transparent;
}

#processListComboBox {
    -fx-focus-color: transparent; /* Убирает цвет фокуса */
    -fx-faint-focus-color: transparent;
}

#selectCustomModeLabel {
    -fx-font-family:'Jomhuria-Regular';
    -fx-font-size:20px;
    -fx-font-weight:bold;
}

#customModeListComboBox {
    -fx-focus-color:transparent;
    -fx-faint-focus-color:transparent;
}

#selectModeLabel {
    -fx-font-family:'Jomhuria-Regular';
    -fx-font-size:20px;
    -fx-font-weight:bold;
}

#modeListComboBox {
    -fx-focus-color:transparent;
    -fx-faint-focus-color:transparent;
}

#blockDomainLabel{
    -fx-font-family:'Jomhuria-Regular';
    -fx-font-size:15px;
    -fx-font-weight:bold;
}

#openButton, #createButton, #editButton{
    -fx-border-color:black;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-effect: null;
    -fx-border-width:1px;
    -fx-border-radius:1px;
    -fx-background-radius:1px;
    -fx-font-family: 'Jomhuria-Regular';
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

#cancelButton{
    -fx-border-color:black;
    -fx-background-color:red;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-effect: null;
    -fx-border-width:1px;
    -fx-border-radius:1px;
    -fx-background-radius:1px;
    -fx-font-family: 'Jomhuria-Regular';
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

#saveButton{
    -fx-background-color:green;
    -fx-border-color:black;
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0;
    -fx-effect: null;
    -fx-border-width:1px;
    -fx-border-radius:1px;
    -fx-background-radius:1px;
    -fx-font-family: 'Jomhuria-Regular';
    -fx-font-weight: bold;
    -fx-font-size: 12px;
}

#customModeNameTextField {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-color: transparent transparent black transparent; /* Только нижняя граница */
    -fx-border-width: 0 0 1 0;
    -fx-padding: 0 0 2 0; /* Немного отступа снизу */
    -fx-font-family: 'Jomhuria-Regular';
    -fx-font-size: 15px;
}

#customModeNameTextField:focused {
    -fx-border-color: transparent transparent #3498db transparent; /* Синяя линия при фокусе */
}